@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

body {
	background-color: #FFF59D;
	padding: 50px;
}

h1 {
	font-family: 'Fugaz One', cursive;
	text-align: center;
	color: #03A9F4;
	font-size: 50px;
}

.console div {
	position: relative;
	margin-bottom: 20px;
}

.console div strong {
	width: 200px;
	position: absolute;
	left: 0;
	top: 0;
}

.console div span {
	padding-left: 250px;
	display: block;
	word-break: break-all;
}

.console .connection span {
	padding-left: 0px;
	text-align: center;
	border-radius: 25px;
	color: #03A9F4;
	background-color: #fcf7cf;
}

img {
	width: 10%;
	height: 10%;
}