@import url('https://fonts.googleapis.com/css?family=Fugaz+One');

body {
  background-color: #FFF59D;
  padding: 50px;
}

h1 {
    font-family: 'Fugaz One', cursive;
    text-align: center;
    color: #03A9F4;
    font-size: 50px;
}

.user-name {
	font-size: 10px;
}

.user-connect {
	text-align: center;
}

.atName {
	font-weight: bold;
	color: blue;
}